@import "../../pages/Home/Home.module.scss";

.background {
  background-size: cover;
  padding-top: 10rem;
  background-color: $green-medium;
  margin-bottom: 0%;
}

.schedule {
  @include section;
  @include desktop {
    margin-left: 0%;
  }
  
}

.scheduleTitle {
  font-family: $font-title;
  font-weight: bold; 
  color: $primary-white;
  font-size: $font-size-5;
  @include tall-screen{
    font-size: $font-size-7;
  }
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.zoomLink {
  color: $accent-pink;

  &:hover, &:focus {
    color: $accent-pink;
    filter: saturate(2000%);
  }
}

.timetable {
  font-size: $font-size-1;
  font-family: $font-sans;
  color: $primary-white;
  @include desktop {
    padding: 2rem 2rem;
  }
  

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 1rem 2rem 1rem 1rem;
  }

  // the first selects the first column, the last two selectors collectively
  // target the second column in the table
  th:first-child, th:first-child + td, td:first-child {
    color: $primary-white;
    font-weight: normal;
  }

  th {
    // make FRIDAY, SATURDAY, etc. stick to the top left
    vertical-align: top;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid $primary-white;
  }
}


.buttons {
  padding: 0.5rem;
  display: flex;
  overflow-x: auto;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
  
}

// buttons are uniform length here
.button {
  @include button;
    font-size: 0.8rem;
    font-family: $font-sans;
    padding: 0.5rem 0.8rem;
  @include desktop {
    padding: 0.5rem 0.8rem;
  }
  margin: 0.5rem;
  width: 7rem;
  text-align: center;
  border-radius: 3rem;
  border-width: 0;
  background-color: $primary-white;
  color: $green-dark;
}

.selected {
  filter: brightness(90%);
  background-color: $light-blue;
  color: $primary-white;
  border-width: inherit;
  border-color: $light-blue;
}
