@import "../../pages/Home/Home.module.scss";

.background {
  background-image: url("../../components/assets/home/red_background.svg");
  background-size: cover;
  padding-top: 10rem;
}

.schedule {
  @include section;
}

.content {
  display: flex;
}

.zoomLink {
  color: $stream-red;

  &:hover, &:focus {
    color: $stream-red;
    filter: saturate(2000%);
  }
}

.timetable {
  font-size: $font-size-2;
  @include desktop {
    padding: 2rem 2rem;
  }
  background-color: $light-red;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    padding: 1rem 2rem 1rem 0rem;
  }

  // the first selects the first column, the last two selectors collectively
  // target the second column in the table
  th:first-child, th:first-child + td, td:first-child {
    color: $stream-red;
    font-weight: normal;
  }

  th {
    // make FRIDAY, SATURDAY, etc. stick to the top left
    vertical-align: top;
    text-align: left;
  }
  tr {
    border-bottom: 1px solid $hackmelb-blue;
  }
}


.buttons {
  padding: 0.5rem;
}

// buttons are uniform length here
.button {
  @include button;
  font-size: 0.8rem;
  padding: 0.5rem 0.8rem;
  @include desktop {
    padding: 0.5rem 0.8rem;
  }
  margin: 0.5rem;
  width: 6rem;
}

.selected {
  filter: brightness(90%);
  background-color: $hackmelb-blue;
  color: $primary-white;
}
