@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
.scroll {
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 20;
}

.container {
  min-height: 100vh;
  margin-bottom: 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../components/assets/home/background_top.svg");
  background-size: cover;
  background-position: 100% 30%;
}

.container .pic_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1200px) {
  .container .pic_text {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.logo {
  display: none;
}

@media (min-width: 1200px) {
  .logo {
    display: unset;
    position: absolute;
    top: 18%;
    left: 87%;
  }
}

.lightbulb {
  display: none;
}

@media (min-width: 1200px) {
  .lightbulb {
    display: unset;
    width: 75%;
    max-height: 500px;
    margin-bottom: 50px;
  }
}

.title {
  line-height: 1.1em;
  padding: 80px 30px 5px !important;
}

.title h1 {
  font-family: Source Code Pro;
  font-weight: bold;
  color: #1B6AE3;
}

@media (min-width: 320px) {
  .title h1 {
    font-size: 2.3em;
  }
}

@media (min-width: 600px) {
  .title h1 {
    font-size: 4.8em;
  }
}

.title h2 {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  letter-spacing: 0.09em;
}

@media (min-width: 320px) {
  .title h2 {
    font-size: 1.8em;
  }
}

@media (min-width: 600px) {
  .title h2 {
    font-size: 2.2em;
  }
}

.title h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 1.5em;
  font-weight: 50;
  background-color: #2b2b2b;
  color: white;
  width: 30rem;
  max-width: 80vw;
  padding: 1rem;
}

.title a {
  text-decoration: none;
}

.blinking {
  -webkit-animation: blink 0.5s infinite;
          animation: blink 0.5s infinite;
}

@-webkit-keyframes blink {
  50% {
    opacity: 0;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.longBar {
  position: absolute;
  overflow: hidden;
  top: 85vh;
  left: 0;
  width: 100%;
}

@media (min-width: 600px) {
  .longBar {
    display: none;
  }
}

@media (min-width: 1200px) {
  .longBar {
    display: block;
  }
}

.scroll {
  display: none;
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 20;
}

@media (min-width: 1200px) {
  .scroll {
    display: unset;
  }
}

.faq {
  padding: 2rem;
  margin-bottom: 45%;
}

@media (min-width: 1200px) {
  .faq {
    height: 100vh;
  }
}

.faq h2 {
  color: #2b2b2b;
  font-size: 2.441rem;
}

.faq h3,
.faq h1 {
  color: #2b2b2b;
}

.faq h2 {
  margin-bottom: 3%;
}

.content {
  width: 100%;
  margin-top: 5%;
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 100%;
}

.foot {
  background-image: url("../../components/assets/footer.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1200px) {
  .foot {
    background-image: url("../../components/assets/footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/*# sourceMappingURL=faq.module.css.map */