@import "../../pages/Home/Home.module.scss";

.highlights {
  @include section;
  @include desktop {
    justify-self: center;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;

  h2 {
    font-weight: bolder;
    font-family: $font-title;
    font-size: $font-size-3;
  }
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: normal;
    font-size: $font-size-2;
  }
}

.row {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.underline {
  width: 10rem;
  height: 2rem;

  @include desktop {
    width: 35rem;
  }
  background-image: url("../assets/underline_bar.svg");
}
