@import "../../styles/styles.scss";

.textbox {
  margin: 2rem;
  padding: 1rem;
  background-color: $accent-pink;
  text-align: center;
  vertical-align: middle;
  box-shadow: 7px -7px $stream-blue;
}
