$primary-dark: #453737;
$primary-darker: #090531;
$primary-white: white; 

$light-blue: #97D0ED;

$green-light: #ABDC94;
$green-medium: #68A35E;
$green-dark: #4F8545;

$sponsor-gold: #FFC269;

$very-light-blue: #f4fffd;
$hackmelb-blue: #1B6AE3;
$stream-blue: #1b6ae3;
$stream-red: #ed6a5e;
$stream-green: #09bc8a;
$stream-yellow: #fcdb39;

$light-red: #f7ecea;
$background-cream: #fcfaec;
$accent-pink: #FEE7C4;

$font-color-prizes:#19421E;


$new-color-theme: #4F8545;

$tree-color:#ABDC94;


$background-gradient: linear-gradient(
  90deg,
  $light-blue,
  $very-light-blue
);

