$primary-dark: #2b2b2b;
$primary-darker: #090531;
$primary-white: #f3ffff;

// for gradient background
$light-blue: #e2fffa;
$very-light-blue: #f4fffd;

$stream-blue: #1b6ae3;
$stream-red: #ed6a5e;
$stream-green: #09bc8a;
$stream-yellow: #fcdb39;

$accent-pink: #ffc7bc;
