@import "../../styles/styles.scss";

@mixin section {
  background-color: transparent;
  font-size: $font-size-2;

  // reduce padding on mobile, min-height bit is not needed
  // since scroll component is not used
  padding: 2rem;
  @include desktop {
    padding: 6rem;
    min-height: 100vh;
  }

  h2 {
    color: $primary-dark;
    font-size: $font-size-5;
  }

  h3,
  h1 {
    color: $primary-dark;
  }
}

.scroll {
  // @include remove-on-phone;
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 20;
}

.container {
  min-height: 100vh;

  background-image: $background-gradient;
  margin-top: 9rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: center;

}

.logo{
  position: absolute;
  top: 18%;
  left: 87%;
}

.arrow{
  position: absolute;

  top: 26%;
  left: 4%;
  height: 57%;
  width: 49%;
}

.title {

  position: absolute;
  top: 45%;
  left: 50%;

  text-align:left;
  line-height: 1.1em;

  h1{
    font-family: $font-monospace;
    font-weight: bold;
    font-size: 4.8em;
    color: $hackmelb-blue;
  }

  h2{
    font-family: $font-main;
    font-weight: bolder; 
    letter-spacing: 0.09em; 
    font-size: 2.2em;
  }

  h3{
    font-family: $font-title;
    font-size: 1.5em;
    font-weight: 50;
    background-color: black;
    color: white;
  }
}
