@import "../../styles/styles.scss";
@mixin section {
  // reduce padding on mobile, min-height bit is not needed
  // since scroll component is not used
  padding: 2rem;

  @include desktop {
    // margin-left: 9%;
    height: 100vh;
  }

  h2 {
    color: $primary-dark;
    font-size: $font-size-5;
  }

  h3,
  h1 {
    color: $primary-dark;
  }
}

.scroll {
  // @include remove-on-phone;
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 20;
}

.container {
  z-index: 0;
  position: relative;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FFF6E9 -1.49%, #FFC165 34.92%, #8EC570 89.3%);
  background-size: cover;

  .pic_text {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;

    @include desktop {
      flex-direction: row;
    }
  }
}

.logo {
  display: none;
  @include desktop {
    display: unset;
    position: absolute;
    top: 18%;
    left: 87%;
  }
}

.lightbulb {
  display: none;
  @include desktop {
  display: unset;
  width: 75%;
  max-height: 500px;
  margin-bottom: 50px;
  }
}

.title {
  line-height: 1.1em;
  padding: 80px 30px 5px !important;

  h1 {
    font-family: $font-main;
    font-weight: bold;
    @include phone {
      font-size: 2.3em;
    }
    @include tablet {
      font-size: 4.8em;
    }
    color: $primary-white;
  }

  h2 {
    font-family: $font-main;
    font-weight: bolder;

    @include phone {
      font-size: 1.8em;
    }
    @include tablet {
      font-size: 2.2em;
    }
    color: $primary-white;
  }

  h3 {
    font-family: $font-title;
    font-size: 1.5em;
    font-weight: 50;
    background-color: $primary-dark;
    color: white;
    width: 30rem;
    max-width: 80vw;
    padding: 1rem;
  }

  a{
    text-decoration: none;
  }
}

.blinking {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.longBar {
  position: absolute;
  overflow: hidden;
  top: 85vh;
  left: 0;
  width: 100%;
  @include tablet{
    display: none;
  }
  @include desktop{
    display: block;
  }
}

.scroll {
  @include remove-on-phone;
  position: fixed;
  right: 50px;
  bottom: 20px;
  z-index: 20;
}

// to be used to style a <button />
@mixin button {
  font-size: $font-size-1;
  border: 2px solid $hackmelb-blue;
  margin: 0 1rem;
  @include desktop {
    padding: 0.5rem 3rem;
  }
  background-color: transparent;
  color: $primary-dark;
  text-align: center;
  
  &:hover,
  &:focus {
    background-color: $hackmelb-blue;
    color: $primary-white;
  }
}

.spacer{
  position: relative;
    aspect-ratio: 960/200;
    width: 100%;
  z-index: 10;
  margin-top: -90px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url('../../components/assets/stacked-waves.svg');
}