@import "../../styles/styles.scss";

.Theme {
  background-image: url("../../components/assets/Theme-Background.svg");
  background-color: #508545;
  background-repeat: repeat-x;
  width: 100%;
  margin-top: -100px;
  padding-top: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-family: 'Clash Display';
    font-size: $font-size-5;
    color: $primary-white;
    @include tall-screen {
      font-size: $font-size-7;
    }
    font-weight: bold;
    text-align: center;
    width: 100%;

  }

  h3{
    font-size: $font-size-3;
    color: $primary-white;
    padding-bottom: 3rem;
  }
  p {
    font-size: $font-size-2;
    font-family: 'Clash Display';
    font-weight: 500;
    text-align: center;
    color: $primary-white;
    margin: 0;
    @include phone {
      padding: 50px;
    }
    @include desktop {
      padding: 50px 200px;
    }

  }
}

