@import "../../styles/styles.scss";

.about{
    width: 50%;
    height: 200%;
    margin-left: 9%;
    margin-bottom: 5%;
    font-family: $font-monospace;
}

.aboutTitle{
    display:inline-block;
    margin-bottom: 8%;
}

.aboutTitle .underline{
    position: absolute;
    left: 0%;
    top: 126%;
}

.aboutTitle h2{

    font-weight: bolder;
    float: left;
}

.aboutTitle .image{
    position: absolute;
    left: 19%;
    top: 118%;
}
