@import "../../styles/styles.scss";

.about {
  width: 50%;
  height: 200%;
  margin-left: 9%;
  padding: 2rem;
  margin-bottom: 5%;
  font-family: $font-monospace;

}

.aboutTitle {
  margin-bottom: 8%;
  display: flex;
  flex-direction: column;
}

.aboutTitle .underline {
  width: 20rem;
  height: 2rem;

  @include desktop {
    width: 20rem;
  }

  background-image: url("../assets/underline_bar.svg");
}

.aboutTitle h2 {
  font-weight: bolder;
  float: left;
}

.aboutTitle .image {
  position: absolute;
  left: 19%;
  top: 118%;
}

.description p {
  font-size: 1.15em;
}
