@import "../../../styles/styles.scss";

.categoryBox {
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 25px;
  background-color: $very-light-blue;
  vertical-align: middle;
  border-style: solid;
  box-shadow: 10px -10px #B8EDE5;
  ;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include desktop {
    margin: 2rem;
    padding: 2rem;
    flex-direction: row;
  }
}

.categoryTitle {
  font-weight: bold;
  font-size: $font-size-2;
  margin-bottom: 0.5rem;
}

.categoryImg {
  padding: 1.5rem;
  width: 100%;
}