@import "../../pages/Home/Home.module.scss";
@import "../../styles/styles.scss";

.sponsorsContainer {
    min-height: 100vh;
    background-image: url("../../components/assets/home/background_top.svg");
    background-size: cover;
    padding-top: 7rem;
}

.row {
    display: flex;
    margin-bottom: 2rem;

    .icon {
        display: inline-flex;
        justify-content: center;
        width: 25%;
    }

    .sponsors {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .sponsorLogo {
            width: 300px;
            margin: 0 3rem;
            img {
                width: 100%;
            }
        }
    }
}

.csiro {
    max-width: 130px;
    img {
        width: 100%;
    }
}
