@import "../../styles/styles.scss";

.invite {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #FFD18E -1.49%, #FFC165 34.92%, #8EC570 89.3%);
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: $font-main;
    font-size: 2.5rem;
  @include desktop{
    font-size: 3.5rem;
  }
    font-weight: 800;
    color: white;
    padding-bottom: 1rem;

}

  .button {
    padding-left: 4rem;
    font-family: $font-main;
    font-size: $font-size-1;
    display: unset;
    border-radius: 3rem;
    border-width: 0;
    color: black;
    background-color: #97D0ED;
    text-decoration: none;
    
    padding: 0.8rem 0.8rem;

    span {
        font-family: $font-main;
        font-size: $font-size-2;
        @include desktop {
            padding-left: 6rem;
            padding-right: 6rem;
        }
    }
    
    @include desktop {
      display: unset;
    }    
  }

  .button:hover {
      color: white;
  }