@import "../../styles/styles.scss";

.brand {
  font-size: $font-size-3;
  margin-left: 2rem;
}

.footer {
  border-top: 1px solid black;
  width: 100%;
  background-color: $primary-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.links {
  padding: 2rem;
  width: 50%;
  display: flex;
  justify-content: flex-end;
  a {
    font-size: $font-size-5;
    margin-right: 2rem;
  }
}
