@import "../../pages/Home/Home.module.scss";

.resources {
  padding-left: 20%;
  padding-bottom: 10%;
} 

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;

  h2 {
    font-weight: bolder;
    font-family: $font-title;
    font-size: $font-size-5;
    padding-left: 12%;
  }
}

.content {
  display: flex;
  justify-content: space-around;

  .resources_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
  }

  width: 70%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: normal;
    font-size: $font-size-2;
  }

  @include desktop {
    flex-direction: row;
  }
}

.underline {
  width: 20rem;
  height: 2rem;

  @include desktop {
    width: 20rem;
  }
  background-image: url("../assets/underline_bar.svg");
}

.lamp {
  width: 15rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-image: url("../../components/assets/home/lamp.svg");
  background-position: 30% 50%;
  box-shadow: 0 0 0 2px #0000005b;
  border-radius:50%;
  background-color: rgb(255, 255, 255);
  height: 250px;
  width: 250px;
  padding-right: 10%;
  padding-bottom: 10%;
}

.discord {
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-image: url("../../components/assets/home/discord.svg");
  background-position: 50% 45%;
  box-shadow: 0 0 0 2px #0000005b;
  border-radius:50%;
  background-color: rgb(255, 255, 255);
  height: 250px;
  width: 250px;
  padding-right: 10%;
  padding-bottom: 10%;
}

.facebook {
  width: 10rem;
  height: 10rem;
  background-repeat: no-repeat;
  background-image: url("../../components/assets/home/facebook.svg");
  background-position: 50% 45%;
  box-shadow: 0 0 0 2px #0000005b;
  border-radius:50%;
  background-color: rgb(255, 255, 255);
  height: 250px;
  width: 250px;
  padding-right: 10%;
  padding-bottom: 10%;
}

.textbox {
  margin: 2rem;
  padding: 1rem;
  width: 250px;
  height: 250px;
  background-color: $accent-pink;
  text-align: center;
  vertical-align: middle;
  box-shadow: 7px -7px $stream-blue;
}

.iconContainer {
  font-size: $font-size-5;
  color: $primary-dark;
  margin-bottom: 1rem;
}

.button {
  font-size: $font-size-1;
  border: 2px solid $stream-blue;
  padding: 0.5rem 3rem;

  color: $primary-dark;
  text-align: center;

  &:hover,
  &:focus {
    background-color: $stream-blue;
    color: $primary-white;
  }
}

.text {
  margin-bottom: 2rem;
}
