@import "../../styles/styles.scss";

.container {
  min-height: 100vh;
  background-image: $background-gradient;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../components/assets/home/background_top.svg");
  background-size: cover;
  background-position: 100% 30%;
}

.text{
  h2{
    font-family: "Source Code Pro";
    font-size: $font-size-3;
    flex-direction: column;
    @include desktop{
      font-size: $font-size-5;
      font-family: "Source Code Pro";
    }
   
    a{
      text-decoration: none;
    }
  }
  .aboutTitle {
    text-align: center;
    font-size: 700%;
    font-weight: bold;
    flex-direction: column;
    font-family: "Source Code Pro";

    @include desktop{
      flex-direction: column;
      font-family: "Source Code Pro";
      font-size: 1090%;
      font-weight: bold;
    }
  }
}

