@import "../../styles/styles.scss";
@import "../../pages/Home/Home.module.scss";

.rules {
  @include section;
}

.content {
  // on desktop need right margin to account for scroll component
  @include desktop {
    margin: 2rem 10rem 2rem 2rem;
  }
}

h2{
  font-size:  $font-size-7;
}
.externalLink {
}

.table {
  font-size: $font-size-1;
  border-collapse: collapse;
  

  tr > :first-child {
    color: #007857;
    font-size: $font-size-2;
    font-weight: bold;
  }

  td {
    border-bottom: 1px solid #09BC8A;
    padding: 0.8rem;
  }

  a {
    color: #007857;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #09BC8A;
    }
  }
}

a {
  color: #007857;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: #09BC8A;
  }
}

.blinking {
  animation: blink 0.5s infinite;
}