@import "../../styles/styles.scss";

.prizes {
  display: flex;
  flex-direction: column;


  @include desktop {
    padding: 2rem;
  }

  h1 {
    font-size: $font-size-6;
    color: $stream-blue;
    margin-bottom: 3rem;
  }
}

.background{
  background-image: url("../../components/assets/prizes_imgs/prize_bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 7rem;
  
  @include desktop{
    padding-bottom: 3%;
  }
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.podium {
  display: flex;
  justify-content: space-evenly;

  h3 {
    font-weight: bold;
    font-size: $font-size-2;
    font-family: $font-title;
  }

  @include desktop {
    margin-top: 5rem;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-family: $font-title;
  font-weight: bold;

  h2 {
    font-family: $font-title;
    font-size: $font-size-5;
    @include tall-screen{
      font-size: $font-size-7;
    }
    font-weight: bold;
    text-align: center;
  }
  .blinking {
    animation: blink 0.5s infinite;
  }
}



.row {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include desktop {
    align-self: flex-end;
    flex-direction: row;
  }
}

.underline {
  width: 20rem;
  height: 2rem;

  @include desktop {
    width: 35rem;
  }
  background-image: url("../../components/assets/underline_bar.svg");
}

.prize_3_img {
  display: none;

  @include desktop {
    // border: 1px solid red;
    display: flex;
    width: 320px;
    height: 345px;
    background-image: url("../../components/assets/prizes_imgs/3rd_place.svg");
    background-repeat: no-repeat;
  }
}

.prize_1_img {
  display: none;

  @include desktop {
    // border: 1px solid red;
    display: flex;
    width: 450px;
    height: 520px;
    background-image: url("../../components/assets/prizes_imgs/prizes-first.svg");
    background-repeat: no-repeat;
  }
}

.prize_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.prize_2_img {
  display: none;

  @include desktop {
    display: block;
    width: 30%;
    height: 30%;
  }
}

.mobile_description {
  padding-bottom: 10%;
  @include desktop {
    display: none;
  }
}

.prize_item {
  display: flex;
  flex-direction: column-reverse;
}

.mobile {
  margin-top: 3rem;
  padding-left: 30%;
  @include desktop {
    display: none;
  }
}

.desktop {
  display: none;
  @include desktop {
    display: flex;
  }
}

.other_prizes {
  display: none;
  @include desktop{
    display: block;
  }

  font-size: $font-size-5;
  @include tall-screen{
    font-size: $font-size-7;
  }

  .other_prizes_content {
    margin: 0 20%;
  }
}

.subtitle{
  font-family: $font-monospace;
  font-size: $font-size-5;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15%;
  padding-bottom: 1%;
}


.sponsText{
  font-family: $font-monospace;
  font-size: $font-size-3;
  margin: 1rem 0;

  .sponsImg {
    width: 80px;
    height: 80px;
  }
}

.swagText{
  font-family: $font-monospace;
  font-size: $font-size-3;
  margin: 1rem 0;

  .swagImg {
    width: 80px;
    height: 80px;
  }
}


.photo{
    display: none;
  
    @include desktop {
      background-image: url("../../components/assets/prizes_imgs/13.svg");
      background-repeat: no-repeat;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
  }
}

