@import "../../styles/styles.scss";

.prizes {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;

  @include desktop {
    padding: 2rem;

    margin-left: 9%;
    min-height: 100vh;
  }

  h2 {
    color: $primary-dark;
    font-size: $font-size-5;
  }

  h3,
  h1 {
    color: $primary-dark;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5rem;

  h2 {
    font-weight: bolder;
    font-family: $font-title;
    font-size: $font-size-5;
  }
}

.content {
  width: 70%;
  display: flex;
  flex-direction: column;

  h3 {
    font-weight: normal;
    font-size: $font-size-2;
  }
}

.row {
  width: 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  @include desktop {
    flex-direction: row;
  }
}

.underline {
  width: 20rem;
  height: 2rem;

  @include desktop {
    width: 35rem;
  }
  background-image: url("../../components/assets/underline_bar.svg");
}
